#Folders#
########

build/
dist/

docs/build/
SGTPy.egg-info/
SGTPy/__pycache__/
SGTPy/vrmie_mixtures/__pycache__/
SGTPy/vrmie_pure/__pycache__/
SGTPy/gammamie_mixtures/__pycache__/
SGTPy/gammamie_pure/__pycache__/
SGTPy/equilibrium/__pycache__/
SGTPy/sgt/__pycache__/
SGTPy/src/build/

examples/.ipynb_checkpoints/


#Python Cache#
##############

*.pyc
*.pyo

#Python Compiled#
#################

*.pyd

#Compiled objects#
# *.c

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
